@page
@model CTG.TRSS.UI.Pages.IndexModel
@inject Microsoft.Extensions.Hosting.IHostEnvironment HostEnvironment
@{
    ViewData["Title"] = "Home";
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/Font-Awesome/css/font-awesome.css" rel="stylesheet" />

<div class="jumbotron">
    <h1 class="display-4">Telerik Reporting Swashbuckle Swagger</h1>
</div>


<hr />

<a class="btn btn-primary btn-lg btn-block" href="~/reportsTelerikDesigner">Telerik Designer</a>
<a class="btn btn-primary btn-lg btn-block" href="~/reportsTelerikViewer">Telerik Viewer</a>
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery-validation/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/popper.js/umd/popper.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script> 