@page
@model CTG.TRSS.UI.Pages.IndexModel
@inject Microsoft.Extensions.Hosting.IHostEnvironment HostEnvironment
@{
    ViewData["Title"] = "Home";
    Layout = null;
}





<div class="jumbotron">
    <h1 class="display-4">Telerik Reporting Swashbuckle Swagger</h1>
</div>


<hr />